/* color pallatte: 
https://coolors.co/ffe74c-ff5964-ffffff-38618c-35a7ff */
body{
	background-image: url('#');
}
.container{
	background-color: rgba(53, 167, 255, 0.85);
	margin: 100px auto;
}


h1, h2{
	text-align: center;
	color:#38618c;
	font-family: 'Varela Round', sans-serif;;
}
h2{
	color:#ffe74c;
}

input{
	margin: 20px;
	font-size: 20px;
}

.maxTemp, .minTemp, .description{
	color:#ffffff;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	text-align: center;
}

span{
	text-decoration: underline;
	font-size: 20px;
}

img{
	width: 75px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(wolken132.jpg) no-repeat;
    background-size: cover; 
}